### Abrir dataset

In [45]:
import pandas as pd

#Abrir train dataset

In [46]:
train_dataset = pd.read_csv("train.csv")
train_dataset.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.12    Premium     H     SI1   61.6   59.0  6.67  6.63  4.10   5363
1   1   1.14  Very Good     E     SI2   60.0   54.0  6.74  6.97  4.11   5593
2   2   0.90  Very Good     D     SI2   60.3   63.0  6.12  6.22  3.72   3534
3   3   0.71      Ideal     E     VS1   61.9   54.0  5.74  5.76  3.56   3212
4   4   0.34  Very Good     F     SI2   60.0   62.0  4.51  4.55  2.72    447

In [47]:
train_dataset.shape

(40455, 11)

In [48]:
train_dataset.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [49]:
train_dataset.describe()

,id,carat,depth,table,x,y,z,price
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,20227.000000,0.798121,61.745132,57.451892,5.731217,5.735248,3.538685,3938.101125
std,11678.496907,0.474880,1.434259,2.225893,1.123364,1.152859,0.710579,3992.645108
min,0.000000,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000,326.000000
25%,10113.500000,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000,948.000000
50%,20227.000000,0.700000,61.800000,57.000000,5.700000,5.710000,3.520000,2401.000000
75%,30340.500000,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000,5333.000000
max,40454.000000,5.010000,79.000000,79.000000,10.740000,58.900000,31.800000,18818.000000

In [50]:
train_dataset.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [51]:
train_dummies=pd.get_dummies(train_dataset)
train_dummies

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,1.12,61.6,59.0,6.67,6.63,4.10,5363,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,1.14,60.0,54.0,6.74,6.97,4.11,5593,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0.90,60.3,63.0,6.12,6.22,3.72,3534,0,0,...,0,0,0,0,0,1,0,0,0,0
3,3,0.71,61.9,54.0,5.74,5.76,3.56,3212,0,0,...,0,0,0,0,0,0,1,0,0,0
4,4,0.34,60.0,62.0,4.51,4.55,2.72,447,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.90,63.8,58.0,6.13,6.09,3.90,4120,0,1,...,0,0,0,0,1,0,0,0,0,0
40451,40451,0.35,62.0,54.0,4.56,4.57,2.83,1266,0,0,...,0,0,0,0,0,0,0,0,1,0
40452,40452,0.90,58.4,55.0,6.34,6.39,3.72,3269,0,1,...,0,0,0,0,0,1,0,0,0,0
40453,40453,1.21,63.6,56.0,6.63,6.68,4.23,5893,0,1,...,0,0,0,0,1,0,0,0,0,0
40454,40454,0.41,61.4,56.0,4.80,4.77,2.94,1115,0,0,...,0,0,0,0,0,0,0,0,1,0

In [75]:
train_dummies.drop(["id"], axis = 'columns', inplace=True)

In [76]:
columnas = [a for a in train_dummies.columns if a not in ["price"]]
X = train_dummies[columnas]
y = train_dummies["price"]

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32364, 26) (8091, 26) (32364,) (8091,)

Modelos

In [79]:
from sklearn.neighbors import KNeighborsRegressor

In [97]:
knr = KNeighborsRegressor(weights='uniform', algorithm='auto', p=2, metric='minkowski', metric_params=None)
knr.fit(X_train,y_train)
y_pred = knr.predict(X_test)

In [98]:
y_pred

array([2490.6, 7429.2,  584.6, ...,  599.8,  901.4, 7201.6])

Métricas

In [99]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,explained_variance_score

In [100]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9342642850713511
Mean squared error 1004.729342043207
Mean absolute error 527.9461376838461
explained variance score 0.9346555388698464

Test dataset

In [30]:
test_dataset = pd.read_csv('predict.csv')
test_dataset.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   0.33  Very Good     I      IF   62.0   58.0  4.44  4.46  2.76
1   1   1.21  Very Good     D     SI2   62.4   58.0  6.77  6.83  4.24
2   2   1.06  Very Good     D     SI1   59.3   60.0  6.64  6.71  3.96
3   3   0.36      Ideal     E    VVS1   61.4   57.0  4.64  4.61  2.54
4   4   0.70      Ideal     E     VS1   62.3   54.0  5.67  5.72  3.55

In [31]:
test_dataset.shape

(13485, 10)