<h2>Importar librerias<h2>

In [2]:
import pandas as pd
import numpy as np
import requests
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,explained_variance_score

<h2>Importar CSV Train<h2>

In [4]:
train_dataset = pd.read_csv("input/train.csv")
train_dataset.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.12    Premium     H     SI1   61.6   59.0  6.67  6.63  4.10   5363
1   1   1.14  Very Good     E     SI2   60.0   54.0  6.74  6.97  4.11   5593
2   2   0.90  Very Good     D     SI2   60.3   63.0  6.12  6.22  3.72   3534
3   3   0.71      Ideal     E     VS1   61.9   54.0  5.74  5.76  3.56   3212
4   4   0.34  Very Good     F     SI2   60.0   62.0  4.51  4.55  2.72    447

In [5]:
train_dataset.shape

(40455, 11)

In [6]:
train_dataset.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [7]:
train_dataset.describe()

,id,carat,depth,table,x,y,z,price
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,20227.000000,0.798121,61.745132,57.451892,5.731217,5.735248,3.538685,3938.101125
std,11678.496907,0.474880,1.434259,2.225893,1.123364,1.152859,0.710579,3992.645108
min,0.000000,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000,326.000000
25%,10113.500000,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000,948.000000
50%,20227.000000,0.700000,61.800000,57.000000,5.700000,5.710000,3.520000,2401.000000
75%,30340.500000,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000,5333.000000
max,40454.000000,5.010000,79.000000,79.000000,10.740000,58.900000,31.800000,18818.000000

In [8]:
train_dataset.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [9]:
train_dummies=pd.get_dummies(train_dataset)
train_dummies.head()

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,1.12,61.6,59.0,6.67,6.63,4.10,5363,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1,1.14,60.0,54.0,6.74,6.97,4.11,5593,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0.90,60.3,63.0,6.12,6.22,3.72,3534,0,0,...,0,0,0,0,0,1,0,0,0,0
3,3,0.71,61.9,54.0,5.74,5.76,3.56,3212,0,0,...,0,0,0,0,0,0,1,0,0,0
4,4,0.34,60.0,62.0,4.51,4.55,2.72,447,0,0,...,0,0,0,0,0,1,0,0,0,0

In [10]:
train_dummies.drop(["id"], axis = 'columns', inplace=True)

<h2>Separar columnas<h2>

In [11]:
columnas = [a for a in train_dummies.columns if a not in ["price"]]
X = train_dummies[columnas]
y = train_dummies["price"]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(32364, 26) (8091, 26) (32364,) (8091,)

In [13]:
model = HistGradientBoostingRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

<h2>Métricas<h2>

In [14]:
print("R2_score",r2_score(y_test, y_pred))
print("Mean squared error",mean_squared_error(y_test, y_pred)**.5)
print("Mean absolute error",mean_absolute_error(y_test, y_pred))
print("explained variance score",explained_variance_score(y_test, y_pred))

R2_score 0.9795876891565237
Mean squared error 581.8007314368067
Mean absolute error 303.3389528566118
explained variance score 0.9795953219248649

In [15]:
scores = cross_val_score(model,X,y, cv=10)
print(np.mean(scores))

0.9800925585775719

<h2>Entrenamos todo el modelo al 100%<h2>

In [16]:
model.fit(X, y)

HistGradientBoostingRegressor()

<h1>Test dataset<h1>

In [18]:
test_dataset = pd.read_csv('input/predict.csv',index_col=0)
test_dataset.head()

    carat        cut color clarity  depth  table     x     y     z
id
0    0.33  Very Good     I      IF   62.0   58.0  4.44  4.46  2.76
1    1.21  Very Good     D     SI2   62.4   58.0  6.77  6.83  4.24
2    1.06  Very Good     D     SI1   59.3   60.0  6.64  6.71  3.96
3    0.36      Ideal     E    VVS1   61.4   57.0  4.64  4.61  2.54
4    0.70      Ideal     E     VS1   62.3   54.0  5.67  5.72  3.55

In [19]:
test_dataset.shape

(13485, 9)

In [20]:
test_dataset.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
dtype: int64

In [21]:
test_dataset.describe()

,carat,depth,table,x,y,z
count,13485.000000,13485.000000,13485.000000,13485.000000,13485.00000,13485.000000
mean,0.797397,61.762225,57.473059,5.730977,5.73236,3.538879
std,0.471413,1.427672,2.260095,1.116980,1.10938,0.690877
min,0.200000,51.000000,44.000000,0.000000,0.00000,0.000000
25%,0.400000,61.100000,56.000000,4.720000,4.72000,2.910000
50%,0.700000,61.900000,57.000000,5.690000,5.70000,3.530000
75%,1.040000,62.500000,59.000000,6.530000,6.53000,4.030000
max,4.010000,73.600000,95.000000,10.140000,10.10000,6.170000

In [22]:
test_dataset.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
dtype: object

In [23]:
test_dummies=pd.get_dummies(test_dataset)
test_dummies.head()

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
id,,,,,,,,,,,,,,,,,,,,,
0,0.33,62.0,58.0,4.44,4.46,2.76,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
1,1.21,62.4,58.0,6.77,6.83,4.24,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1.06,59.3,60.0,6.64,6.71,3.96,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0.36,61.4,57.0,4.64,4.61,2.54,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,0.70,62.3,54.0,5.67,5.72,3.55,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [24]:
train_dummies.head()

,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,1.12,61.6,59.0,6.67,6.63,4.10,5363,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,1.14,60.0,54.0,6.74,6.97,4.11,5593,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0.90,60.3,63.0,6.12,6.22,3.72,3534,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0.71,61.9,54.0,5.74,5.76,3.56,3212,0,0,1,...,0,0,0,0,0,0,1,0,0,0
4,0.34,60.0,62.0,4.51,4.55,2.72,447,0,0,0,...,0,0,0,0,0,1,0,0,0,0

<h2>Predecir con el test<h2>

In [25]:
model_test=model.predict(test_dummies)

<h2>Exportar Csv<h2>

In [26]:
HistGBR_test=pd.DataFrame(model_test).reset_index().rename(columns={"index":"id",0:"price"})

In [27]:
HistGBR_test.to_csv("output/HistGBR_test.csv",index=False)